# Configuration file. Stores the locations of program data. 
# Comment lines with # symbol.

# Document Meta data directory.
metadir=metadata/collectioninfo.dat

# Document Parent Child relationship.
#pcrdir=metadata/pcr.dat

# Agency Descriptions for each location.
agencydir = metadata/agencies.dat

# List of agencies for each parent document.
# parentagencydir = metadata/parentagencies.dat

# This file contains all of the tags/filters.
# tagdir = metadata/tags.dat
